<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>H1 text</h1>
    <h2>H2</h2>
    <h6>H6</h6>
    <p>
        Для каждого созданного инвойса по указанным email в поле sent invoice to email из профиля организации
        (Organization
        profile (overview) формируется электронное письмо</p>
    <a href="https://vento.ru/catalog/sportivnoe_snaryazhenie/strakhovochnye_sistemy_sportivnye_obvyazki/alpinistskaya_besedka_argon_tsvet_oranzhenvyy_razmer_1_/"
       target="_blank">Python</a>
    <img alt="browser.png" src="https://vento.ru/local/templates/vento/images/vento/cards2.jpg" style="width: 150px">
    <ul>
        <li>item1</li>
        <li>itev2</li>
    </ul>
    <ol>
        <li>nfgf</li>
        <li>sdffds</li>
    </ol>
    <form>
        <input type="text" value="12345" placeholder="text">
        <textarea></textarea>
        <button>Text</button>
    </form>
</div>
</body>
</html>